*.nc
*.png
*._*
test
.DS*
*.swo
plot_cape.ncl
plot_cape_it.ncl
plot_cape_nord.ncl
plot_hsnow.ncl
plot_hsnow_it.ncl
plot_hsnow_nord.ncl
plot_pres_t2m_wind.ncl
plot_pres_t2m_wind_it.ncl
plot_pres_t2m_wind_nord.ncl
plot_rain_clouds.ncl
plot_rain_clouds_it.ncl
plot_rain_clouds_nord.ncl
plot_reflectivity.ncl
plot_reflectivity_it.ncl
plot_reflectivity_nord.ncl
plot_relhum.ncl
plot_t.ncl
plot_t850_pres.ncl
plot_winds10m.ncl
plot_winds10m_it.ncl
plot_winds10m_nord.ncl
plot_winter_old.py
test.run
utils.pyc
